@{
    ViewBag.Title = "Taxations Home";
    Layout = null;
}

<div class="jumbotron">
    <h1 class="text-center text-muted">Taxations</h1>
    <p class="lead">
        Taxation gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.
    </p>
</div>

