
@{
    Layout = "~/Views/shared/mainLayout.cshtml";
}


<div class="row" style="margin-top: 100px">
    <div class="col-md-1"></div>
    @if (ViewBag.BasicInformations != null)
    {
        <div class="card col-md-3 m-3 p-0" style="min-height: 100px;">
            <h5 class="card-header">Basic Informations</h5>
            <div class="card-body">
                <a class="card-link btn btn-md btn-outline-success"
                   href="/crystalReport/generateReport?repName=BasicInformations&&id=@Session["UserId"]"
                   target="_blank">Preview & Download</a>
            </div>
        </div>
    }
    @if (ViewBag.ParticularsOfSalaries != null)
    {
        <div class="card col-md-3 m-3 p-0">
            <h5 class="card-header">Particulars of Income from Salaries</h5>
            <div class="card-body">
                <a class="card-link btn btn-md btn-outline-success"
                   href="/crystalReport/generateReport?repName=IncomeFromSalaries&&id=@Session["UserId"]"
                   target="_blank">Preview & Download</a>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    }

    @if (ViewBag.StatementOfExpenses != null)
    {
        <div class="card col-md-3 m-3 p-0">
            <h5 class="card-header">Statement Of Expenses</h5>
            <div class="card-body">
                <a class="card-link btn btn-md btn-outline-success"
                   href="/crystalReport/generateReport?repName=StatementOfExpenses&&id=@Session["UserId"]"
                   target="_blank">Preview & Download</a>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    }
</div>


<div class="row mb-5">
    <div class="col-md-2"></div>

    @if (ViewBag.TaxCredits != null)
    {
        <div class="card col-md-3 m-3 p-0">
            <h5 class="card-header">Particulars of Tax Credit</h5>
            <div class="card-body">
                <a class="card-link btn btn-md btn-outline-success"
                   href="/crystalReport/generateReport?repName=ParticularsOfTaxCredit&&id=@Session["UserId"]"
                   target="_blank">Preview & Download</a>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    }

    @if (ViewBag.StatementOfAssets != null)
    {
        <div class="card col-md-3 m-3 p-0">
            <h5 class="card-header">Statement of Assets</h5>
            <div class="card-body">
                <a class="card-link btn btn-md btn-outline-success"
                   href="/crystalReport/generateReport?repName=StatementOfAssets&&id=@Session["UserId"]"
                   target="_blank">Preview & Download</a>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    }
</div>