
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<link href="~/Content/settings.css" rel="stylesheet" />

<div class="informations mt-3">
    <h2>User Settings Page</h2>
    <hr />

    <div id="colors">
        <div class="color" id="black"></div>
        <div class="color" id="light"></div>
        <div class="color" id="blue"></div>
    </div>
</div>

<script src="~/Scripts/settings.js"></script>