
@{
    ViewBag.Title = "Helps";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="informations mt-3">
    <h2>Nirdeshikha 19 - 20</h2>
    <div class="p-3" >
        <embed src="~/Files/Nirdeshikha 19 - 20 .pdf" style="width: 100%; min-height: 100vh">
    </div>
</div>
