<div id="banner">
    <div class="float-left banner-left">
        <h3>About NBR</h3>
        <p class="lead">
            The National Board of Revenue (NBR) is the apex authority for tax administration in Bangladesh. It was established by the father of the nation Bangabandhu Sheikh Mujibur Rahman under President's Order No. 76 of 1972. Administratively, it is under the Internal Resources Division (IRD) of the Ministry of Finance (MoF). The Secretary, IRD is the ex-officio Chairman of NBR.
        </p>
        <a href="http://nbr.gov.bd/about-us/about-us/eng" target="_blank" class="btn btn-lg btn-outline-info">Read More &raquo;</a>
    </div>
    <div class="float-right banner-right">
        <h3 class="text-white">About Tax</h3>
        <p class="lead text-white">
            Value Added Tax or VAT is such an indirect tax which is paid by the consumer through a registered person. Value Added Tax or VAT on a particular goods or service is determined on the basis of adding actual level of value of the said goods or service adjusting input tax payable against the supplied goods or service.
        </p>
        <a href="http://nbr.gov.bd/all-faq/eng" target="_blank" class="btn btn-lg btn-outline-light">Read More &raquo;</a>
    </div>
</div>
