<div class="mailbody"
     style="        background: transparent !important;
        min-height: 40vh;
        box-shadow: 0 0 3px #ccc;">

    <div class="mail-text">
        <h2>regUser</h2>
        <p class="" style="font-size: 1.3rem">
            We need to just verify your email address to complate your registration !
            Click <a href="@ViewBag.ConfirmationLink" class="btn-link">Here</a>
        </p>
    </div>
<pre style="font-size: 1.2rem; font-weight: 500">
Best Regards,
Taxation BD, Team
</pre>
</div>