<style>
    a {
        display: block;
        padding: 5px;
        color: #000;
        opacity: .8;
    }
</style>

<div class="row bg-white p-3 pt-4 mt-4 overflow-hidden border footerClass">
    <div class="col-md-2">

    </div>

    <div class="col-md-2 mb-sm-2 ">
        <div class="card">
            <div class="card-header">
                <h5>Useful links</h5>
            </div>
            <div class="card-body">
                <a target="_blank" href="http://nbr.gov.bd/information-library/vat-agents/eng">Vat agent</a>
                <a target="_blank" href="http://nbr.gov.bd/information-library/vat-advisors/eng">Vat advisor</a>
                <a target="_blank" href="http://nbr.gov.bd/information-library/vat-online-service-center/eng">Vat
                    online
                    center</a>
                <a target="_blank" href="http://nbr.gov.bd/taxtypes/income-tax/income-tax-paripatra/eng">Income tax
                    paripatra </a>
                <a target="_blank" href="http://nbr.gov.bd/regulations/acts/income-tax-acts/eng">Acts </a>
                <a target="_blank" href="http://nbr.gov.bd/regulations/rules/income-tax-rules/eng">Rules</a>
                <a target="_blank" href="http://nbr.gov.bd/faq/vat-faq/eng">FAQ </a>
            </div>
        </div>
    </div>

    <div class="col-md-2 mb-sm-2">
        <div class="card">
            <div class="card-header">
                <h5>Privacy Policy</h5>
            </div>
            <div class="card-body">
                <a href="javascript:void(0)">Privacy</a>
            </div>
        </div>
    </div>

    <div class="col-md-2 mb-sm-2">
        <div class="card">
            <div class="card-header">
                <h5>Terms & Condition</h5>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

    <div class="col-md-2 mb-sm-2">
        <div class="card">
            <div class="card-header">
                <h5>Contacts</h5>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

    @* <div class="col-md-1">
        <div class="card">
        <div class="card-header">
        <h5>Web Emails</h5>
        </div>
        <div class="card-body">
        <a href="https://mail.nbr.gov.bd/">Web Email</a>
        </div>
        </div>
        </div> *@

    <div class="col-md-2">
    </div>
</div>


@* <div id="footer">

    </div> *@