<div class="mailbody"
     style="background: transparent !important;
        min-height: 40vh;
        box-shadow: 0 0 3px #ccc;
        padding: 20px;">

    <div class="mail-text">
        <h1 style="color: green">From Taxations.</h1>
        <p class="" style="font-size: 1.3rem">
            <b>regUser</b> this is your password recovery email link. Click here <a href="@ViewBag.RecoverAccountLink" class="btn-link">Here</a>
        </p>
    </div>
<pre style="font-size: 1.2rem; font-weight: 500">
Best Regards,
Taxation BD, Team
</pre>
</div>