<div id="leftFeedsMenu">
    <ul>
        <li id="leftFeedsMenuHeader">
            <div>Quick Menu</div>
        </li>


        <li>
            <a href="~/incometax/totalIncome">Total Income</a>
        </li>
        <li>
            <a href="~/incometax/totalInvestment">Total Investment</a>
        </li>

        <li>
            <a href="~/incometax/statementOfAsset">Total Asset</a>
        </li>

        <li style="padding-bottom: 5px;">
            <a href="~/incometax/rebateCalculation">Rebate Calculation</a>
        </li>

        <li style="padding-bottom: 5px;">
            <a href="~/incometax/finalCalculation">Final Calculation</a>
        </li>
        <li>
            <a href="/user/downloads">Downloads</a>
        </li>
        <li>
            <a href="/user/contacts">Contacts</a>
        </li>
        <li>
            <a href="/user/helps">Helps</a>
        </li>
    </ul>
</div>
