<style>
    
</style>
<div id="taxation-header" style="">
    <div class="container-fluid">
        <div class="row pt-3">

            <div class="col-md-2 p-0 m-0 all-you-need" >
                <a href="/" class="text-white font-weight-bold all-you-need">Taxations All You Need</a>
            </div>

            <div class="col-md-3" >
                <button id="calcBtn" class="text-white">Calculator</button>
            </div>
        </div>
    </div>
</div>


