
@{
    ViewBag.Title = "Stetement Of Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form-horizontal admin-forms">
    <fieldset>

        <div class="">

            <h1 style="padding: 10px; color: green" class="text-center panel panel-success">Statement of assets And liabilities and expenses</h1>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Admission Year</label>
            <div class="input-group">
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Return Submitted Under Section 82BB</label>
            <div class="col-md-10 inputGroupContainer">
                <input type="radio" name="RtrnSbmt" /> Yes
                <input type="radio" name="RtrnSbmt" /> No
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Name Of Assessee</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-2 control-label">Return Submitted Under Section 82BB</label>
            <div class="col-md-10 inputGroupContainer">
                <input type="radio" name="RtrnSbmt" /> Male
                <input type="radio" name="RtrnSbmt" /> Female
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">TIN(12 Digits)</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Old TIN</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Circle</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Zone</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Return Submitted Under Section 82BB</label>
            <div class="col-md-10 inputGroupContainer">
                <input type="radio" name="RtrnSbmt" /> Resident
                <input type="radio" name="RtrnSbmt" /> Non-Resident
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tick One Of the Box(Yes) Below If You Are</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="checkbox" class="" />A gazetted war-wonded Freedom fihter
                    <input type="checkbox" class="" />A person with ability
                    <input type="checkbox" class="" />Age 65 or more
                    <input type="checkbox" class="" />A Parent or legal guardian of a person with disability

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Date of birth</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="date" class="form-control" />

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Income Year</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="date" class="" /> to <input type="date" class="" />

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Employers name</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Suppose Name</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-2 control-label">Suppose TIN (If any)</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-2 control-label">Fater's Name</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-2 control-label">Mother's Name</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Present Address</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-2 control-label">Parmenet Address</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Contact Telephone</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">NID Numer</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Business Id Number</label>
            <div class="col-md-10 inputGroupContainer">
                <div class="input-group">
                    <input type="text" class="form-control" />

                </div>
            </div>
        </div>

        <input type="button" class="btn btn-default" value="Submit" />
    </fieldset>
</form>